body {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

.box {
    top:130px;
    display: inline-block;
    width: 120px;
    height: 20px;
    border: 5px solid black;
    background-color: darkslategray;
}